/* Css Styles */

html {
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

body {
    background-image: url("../images/wallpaper-full.jpg");
  	background-repeat: no-repeat;
}

h1, h2, h3,
h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
h3, h4, h5, h6 {
    text-rendering: optimizeLegibility;
    line-height: 120%;
}


.wrapper {
	text-align: center;
}